<!-- Loop over each object in the post array -->
{{#each posts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-12 post-item">
    <h2>
      {{post.title}}
    </h2>
    <p style="font-weight: 500;">Created by {{post.user.user_name}} on {{format_date post.date_created}}</p>
    <p>{{post.content}}</p>
    <a class="button btn-check" href="/comment/{{post.id}}" id="{{post.id}}">Comment</a>
  </div>
  {{#each post.comments as |comment| }}
  <div class="col-md-10 comment-item">{{comment.comment}}
    <div style="text-align: end;">{{comment.name}} on {{format_date comment.date_created}}</div>
  </div>
  {{/each}}
</div>
{{/each}}